.navbar{
	background-color:$background-color-nav;
	box-shadow:$dropshadow-nav;
	border-bottom:$border-bottom-nav;
}
.navbar-form{
	padding: 10px 15px;
	@media (min-width: 768px){
		padding: 10px 0;
		margin: 0;
	}
}

.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form,
.navbar-inverse .navbar-toggle
{
	border-color:transparentize($orange, 0.6);
}
.navbar-inverse .navbar-toggle {
	background-color:$orange;
}