.container{
	padding:0 percentage(20/320);
	@media (min-width:768px){
		padding:0 percentage(20/750);
	}

	@media (min-width:992px){
		padding:0 percentage(30/970);
	}

}

.container-fluid{
	padding:0;
	background-color:$orange;
	position:relative;	
}


.btn{
	border-radius:0;
	padding: 10px auto;
	text-align: center;
}

.btn-success{
	background-color:$orange;
	border:0;
}

.btn-search{
	background-color:$orange;
	color:$white;
	margin-right:0;
	@media (min-width: 992px){
		margin-right:20px;
	}
}

.btn-submit{
	background-color:$orange;
	color:$white;
	margin-right:20px;
}

.btn-primary{
	padding: 1em 1.5em;
	text-decoration: none;
	border:1px solid $white;
	background-color:$orange;
	color: $white;
	font-size: 1.2em;
	// box-shadow:$dropshadow;
}

.col-md-9{
	color:$white;
	// background-color:$orange;
	text-align:center;
	position:relative;
	// height:100vh;
}

.col-md-3{

	background-color:$light-gray;
	box-shadow:$dropshadow-sideber;
	padding:0;
	
	@media (min-width: 992px){
		position:fixed;
		right:0;
		top:0;
		height:100vh;
	}
}


hr{
	// padding:0 percentage(20/1280);
	border-color:transparentize($darker-orange, 0.8);
	box-shadow: 1px 1px 3px transparentize(black,0.9);
	margin:50px percentage(60/1280);

}

.control-label{
	box-sizing:border-box;
	text-align: left;
	padding-left:10px;
	padding:5px;
	width: 30%;
}

.col-12{
	width:100%;
	vertical-align:middle;
	margin-bottom:20px;
	display:inline-block;
	text-align: left;
	padding-right:20px;

	.control-label{
		padding:5px;
		width: percentage(3/20);
		vertical-align:middle;
		float: left;
		text-align: left;
	}

	.form-control{
		width: percentage(17/20);
		float: right;
		vertical-align:middle;
		text-align: left;
	}

	select, option{
		width: percentage(17/20);
		float: right;
		vertical-align:middle;
		text-align: left;
	}

	.btn{
		margin-top: 30px;
	}


}

.col-6{
	width:100%;
	float: left;
	vertical-align:middle;
	margin-bottom:20px;
	display:inline-block;
	text-align: left;
	height:50px;

	.btn{
		margin-top: 30px;
	}

	.control-label{
		padding:5px;
		width: 30%;
		vertical-align:middle;
		text-align: left;
	}

	select, option{
		width: 70%;
		float: right;
		text-align: left;
	}
	
	.form-control,
	.checkbox-container
	{
		width: 70%;
		float: right;
		text-align: left;

		.form-control-others{
			position: relative;
			display: inline-block;
			margin-left: 20px;

			// width:40%;
		}
	}

	@media (min-width:768px){
		width: 50%;
	}
}

.col-md-1{
	
	margin-top:3px;
	margin-right:2px;
	height:7px;
	background-color:transparentize(black,0.9);
	border-radius:1px;
	box-shadow:1px 1px 1px transparentize(black,0.9) inset;

	@media (min-width: 768px){
		width: 15%;
	}
	@media (min-width: 992px){
		width:12.15%;
	}
}

.form-control, option{
	border-radius:2px;
}

label{
	line-height: 1.42857;
}

a:hover{
		text-decoration:none;
}

.form-group{

	.control-label{
		text-align: left;
	}
	.list-box{
		width: 100%;
	}
}

.form-horizontal{
	.form-group{
		margin-left: 0;
		margin-right: 0;
	}
}


select{
	border-radius:1px;
	line-height: 1.42857;height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
}
