.side-bar{
	background-color:$white;
	overflow:hidden;

	.menu{


		ul{
			box-sizing:border-box;
			margin-top: 0;
			padding-left: 0;
			@media (min-width: 992px){
				margin-top: 80px;
			}
		}


		li{
			list-style-type: none;
			padding: 10px 50px;
			cursor: pointer;

			&:hover{
				box-shadow:$dropshadow-sidebar-iterm;
				transition:
				box-shadow 0.2s ease-in-out 0s;
			}
			
		}
	}
}