.side-bar{
	background-color:$white;
	overflow:hidden;

	.menu{


		ul{
			box-sizing:border-box;
			margin-top: 0;
			padding-left: 0;
			@media (min-width: 992px){
				margin-top: 80px;
			}
		}


		li{
			list-style-type: none;
			padding: 10px 50px;
			// border-bottom: 1px solid $light-gray;
			box-shadow:1px -3px 7px transparentize($gray,0.9);
		}
	}
}