$gray: gray;
$white: white;
$light-gray:transparentize($gray,0.95);
$dark-gray:darken($gray, 10%);
$orange:#FF9800;
$light-orange:#FFE7C3;
$light-orange-1:#E8A50C;
$dark-orange:#F57C00;
$darker-orange:#724400;

$background-gray:transparentize($gray,0.95);
$dropshadow-nav:5px 5px 8px transparentize(black,0.8);
$dropshadow-footer:-5px -5px 8px transparentize(black,0.8);
$background-color-nav:$white;
$background-color-footer:$white;
$border-top-footer:1px solid farken($gray, 20%);
$border-bottom-nav:1px solid transparentize(black,0.9);
$orange:#FF9800;
